BOT_TOKEN=
ADMINS=
CHANNEL_INFO_ID=

DB_HOST=
DB_PORT=27017
DB_NAME=

SELLIX_API_KEY=

YOOMONEY_CLIENT_ID=
YOOMONEY_REDIRECT_URL=
YOOMONEY_TOKEN=
YOOMONEY_WALLET=

SUB_IMAGE_FOLDER="tgbot/static_files/images_qr/"
TRIAL_IMAGE_FOLDER="tgbot/static_files/trial_images/"