[Unit]
Description=Bot Template
After=multi-user.target

[Service]
WorkingDirectory=/home/bot/vpn_bot
ExecStart=/home/bot/vpn_bot/env/bin/python /home/bot/vpn_bot/bot.py
Restart=always

[Install]
WantedBy=multi-user.target
